.language {
  padding-top: 110px;
  text-align: center;
}
.language__title {
  position: relative;
}
.language__title:after, .language__title:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 35px;
  background-repeat: no-repeat;
}
.language__title::after {
  left: 35%;
  background: url("./../../images/left-arrow.svg");
  transform: rotate(20deg);
}
.language__title::before {
  right: 35%;
  background: url("./../../images/right-arrow.svg");
  transform: rotate(340deg);
}
.language p {
  font-size: 28px;
}
.language a {
  font-size: 18px;
  margin: 0 10px;
}