.language{
    padding-top: 110px;
    text-align: center;
    &__title{
        position: relative;
        &:after,
        &:before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            top: 35px;
            background-repeat: no-repeat;
        }
        &::after{
            left: 35%;
            background: url('./../../images/left-arrow.svg');
            transform: rotate(20deg);
        }
        &::before{
            right: 35%;
            background: url('./../../images/right-arrow.svg');
            transform: rotate(340deg);
        }
    }
    & p{
        font-size: 28px;
       
    }
    & a{
        font-size: 18px;
        margin: 0 10px;
        
    }
}